{{ define "login/index.tmpl" }}
<html>
    <h1>
	    {{ .title }}
    </h1>
    <form action="" method="POST">
        <input type="text" name="username">
        <br><br>
        <input type="password" name="password">
        <br><br>
        <input type="submit">
    </form>
</html>
{{ end }}